<div class="create-user-contain">
    <form nz-form [formGroup]="addUserForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Code</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorCode">
          <input nz-input formControlName="code" placeholder="async validate try to write JasonWood" />
          <ng-template #userErrorCode let-control>
            <ng-container *ngIf="control.hasError('required')">
              Please input your code!
            </ng-container>
            <ng-container *ngIf="control.hasError('duplicated')">
              The code is duplicated!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <!-- <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Code</nz-form-label>
        <nz-form-control [nzSpan]="12" [nzErrorTip]="userErrorCode">
          <input nz-input formControlName="code" placeholder="input your code" />
          <ng-template #userErrorCode let-control>
            <ng-container *ngIf="control.hasError('required')">
              Please input your Code!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item> -->
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>FullName</nz-form-label>
          <nz-form-control [nzSpan]="12" [nzErrorTip]="userErrorTpl">
            <input nz-input formControlName="fullName" placeholder="input your fullName" />
            <ng-template #userErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">
                Please input your fullName!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>Username(E-mail)</nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="emailErrorTpl">
            <input nz-input formControlName="userName" placeholder="input your userName" type="email" />
            <ng-template #emailErrorTpl let-control>
              <ng-container *ngIf="control.hasError('email')">
                The input is not valid E-mail!
              </ng-container>
              <ng-container *ngIf="control.hasError('required')">
                Please input your E-mail!
              </ng-container>
              <ng-container *ngIf="control.hasError('duplicated')">
                The Username(E-mail) is duplicated!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>Password</nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="passwordError">
            <input nz-input type="password" formControlName="password" (ngModelChange)="validateConfirmPassword()" />
            <ng-template #passwordError let-control>
              <ng-container *ngIf="control.hasError('minlength')">
                Min length is 6
              </ng-container>
              <ng-container *ngIf="control.hasError('required')">
                Please input your password!
              </ng-container>
              <ng-container *ngIf="control.hasError('confirm')">
                Password not match!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>Confirm Password</nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="passwordErrorTpl">
            <input nz-input type="password" formControlName="confirmPassword" placeholder="confirm your password" />
            <ng-template #passwordErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">
                Please confirm your password!
              </ng-container>
              <ng-container *ngIf="control.hasError('confirm')">
                Password not match!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7">Birthday</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <nz-date-picker formControlName="birthday"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7">PhoneNumber</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input nz-input formControlName="phoneNumber" placeholder="input your phoneNumber" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzOffset]="7" [nzSpan]="12">
            <button nz-button nzType="primary">Submit</button>
            <button nz-button (click)="resetForm($event)">Reset</button>
          </nz-form-control>
        </nz-form-item>
      </form>
</div>