<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="" target="_blank">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJWollLKngaxktyOrXwqyCMzKXW62VAmE0nQ&usqp=CAU" alt="logo">
        <h1>Example System</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <app-menu> </app-menu>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
        <i nz-icon nzType="logout" (click)="SignOut()" nzTheme="outline"></i>
      </div>
    </nz-header>
    <div class="breadcrumb">
      <app-breadcrumb></app-breadcrumb>
    </div>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
<!-- 
<ng-template >
  <div style="margin: auto; padding-top: 100px;">
    <app-login></app-login>
  </div>
</ng-template> -->