<div class="leave-contain">
  <button nz-button nzType="primary" style="margin-bottom: 20px;" (click)="CreateLeave()">Log Leave</button>

  <nz-table #editRowTable nzBordered [nzData]="listOfData" nzTableLayout="fixed">
    <thead>
      <tr>
        <th nzWidth="10%">Username</th>
        <th nzWidth="10%">Approver</th>
        <th nzWidth="10%">Type</th>
        <th nzWidth="11%">From Date</th>
        <th nzWidth="11%">To Date</th>
        <th nzWidth="15%">Reason</th>
        <th nzWidth="13%">Comment</th>
        <th nzWidth="10%">Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of editRowTable.data" [className]="data.status === 1 ? 'approved-log-leave' : ''">
        <ng-container *ngIf="!editCache[data.id].edit; else editTemplate">
          <td>{{ data.userFullName }}</td>
          <td>{{ data.approverName }}</td>
          <td>{{ data.typeName }}</td>
          <td>{{ data.fromDate | date }}</td>
          <td>{{ data.toDate | date }}</td>
          <td>{{ data.reason }}</td>
          <td>{{ data.comment }}</td>
          <td>{{ data.statusName }}</td>
          <td>
            <div *ngIf="canApproved; else OnlyViewLogLeave">
              <button nz-button nzType="primary" style="width: 85px;" (click)="startEdit(data.id)">
                <i nz-icon nzType="edit"></i> Edit
              </button>
              <button nz-button style="background-color: springgreen; width: 85px;" (click)="acceptLogLeave(data.id)">
                Accept
              </button>
            </div>
            <ng-template #OnlyViewLogLeave>
              <button nz-button nzType="default"> View </button>
            </ng-template>
          </td>
        </ng-container>
        <ng-template #editTemplate>
          <td>{{ editCache[data.id].data.userID }}</td>
          <td>{{ editCache[data.id].data.approver }}</td>
          <td>{{ editCache[data.id].data.typeID }}</td>
          <td>
            {{ editCache[data.id].data.fromDate }}
          </td>
          <td>
            {{ editCache[data.id].data.toDate }}
          </td>
          <td>{{ editCache[data.id].data.reason }}</td>
          <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.comment" /></td>
          <!-- <td><input type="number" nz-input [(ngModel)]="editCache[data.id].data.status" /> -->
          <td>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a type" [(ngModel)]="editCache[data.id].data.status">
              <nz-option nzLabel="pending" nzValue="0"></nz-option>
              <nz-option nzLabel="approved" nzValue="1"></nz-option>
              <nz-option nzLabel="rejected  " nzValue="2"></nz-option>
            </nz-select>
          </td>
          <td>
            <div *ngIf="canApproved; else ViewLogLeave">
              <button nz-button nzType="primary" (click)="saveEdit(data.id)"> Save </button>
              <button nz-button nzType="default" (click)="cancelEdit(data.id)"> Cancel </button>
            </div>
            <ng-template #ViewLogLeave>
              <button nz-button nzType="default"> View </button>
            </ng-template>
          </td>
        </ng-template>
      </tr>
    </tbody>
  </nz-table>
  <router-outlet></router-outlet>
</div>