<div class="user-contain">
  <button nz-button nzType="primary" style="margin-bottom: 20px;"  (click)="CreateUser()">Create User</button>

  <nz-table #editRowTable nzBordered [nzData]="listOfData" nzTableLayout="fixed">
    <thead>
      <tr>
        <th nzWidth="15%">Code</th>
        <th nzWidth="20%">Username</th>
        <th nzWidth="15%">Full Name</th>
        <th nzWidth="15%">Birthday</th>
        <th nzWidth="10%">Lockout</th>
        <th nzWidth="13%">Phone number</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of editRowTable.data">
        <ng-container *ngIf="!editCache[data.id].edit; else editTemplate">
          <td>{{ data.code }}</td>
          <td>{{ data.userName }}</td>
          <td>{{ data.fullName }}</td>
          <td>{{ data.birthday | date }}</td>
          <td>
            <label nz-checkbox [(ngModel)]="data.lockoutEnabled"></label>
          </td>
          <td>{{ data.phoneNumber }}</td>
          <td>
            <button nz-button nzType="primary" (click)="startEdit(data.id)">
              <i nz-icon nzType="edit"></i> Edit
            </button>
          </td>
        </ng-container>
        <ng-template #editTemplate>
          <td>{{ data.code }}</td>
          <td><input type="email" nz-input [(ngModel)]="editCache[data.id].data.userName" /></td>
          <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.fullName" /></td>
          <td>
            <nz-date-picker [(ngModel)]="editCache[data.id].data.birthday" (ngModelChange)="onChange($event)">
            </nz-date-picker>
          </td>
          <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.lockoutEnabled" /></td>
          <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.phoneNumber" /></td>
          <td>
            <button nz-button nzType="primary" (click)="saveEdit(data.id)"> Save </button>
            <button nz-button nzType="default" (click)="cancelEdit(data.id)"> Cancel </button>
          </td>
        </ng-template>
      </tr>
    </tbody>
  </nz-table>
  <router-outlet></router-outlet>
</div>