<div class="create-leave-contain">
    <form nz-form [formGroup]="createLeaveForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>Type Leave</nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Please input your type!">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a type" formControlName="typeID">
              <nz-option nzLabel="sick leave" nzValue="1"></nz-option>
              <nz-option nzLabel="take leave" nzValue="2"></nz-option>
              <nz-option nzLabel="I like to rest" nzValue="3"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired>Log Leave</nz-form-label>
          <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="Please input your date leave!">
            <nz-range-picker formControlName="dateRange"></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>Reason</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="Please write reason here!">
            <textarea formControlName="reason" nz-input rows="2" placeholder="write any thing"></textarea>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7">Comment</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <textarea formControlName="comment" nz-input rows="2" placeholder="write any thing"></textarea>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzOffset]="7" [nzSpan]="12">
            <!-- <button nz-button nzType="primary" [disabled]="!createLeaveForm.valid">Submit</button> -->
            <button nz-button nzType="primary">Submit</button>
            <button nz-button (click)="resetForm($event)">Reset</button>
          </nz-form-control>
        </nz-form-item>
      </form>
</div>